<div class="container color-dark">
  <div class="col">
    <p>Add a bucket list item</p>
  </div>
  <div class="col">
    <p>Your bucket list ({{itemCount}})</p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
    <div class="col">
      <p class="sm">Use this form below to add a new bucket list goal. What do you want to do?</p>
      
      <form>
        <mat-form-field>
          <input matInput type="text" name="item" placeholder="Add your life goal..." [(ngModel)]="goalText">
        </mat-form-field>
        <button (click)="addItem()" mat-button>{{btnText}}</button>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </form>
      </div>
    <div class="col">
      <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{goal}}
      </p>
    </div>
  </div>